/** @format */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  /* font-family: $site-font; //requirement */
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 auto;
  padding: 0;
}

// .color__green {
//   color: green;
// }

// /* NAVBAR */
// .navbar-container {
//   position: fixed;
//   bottom: 0;
//   left: 0;
// }

// /* Garden Stats */
// .home {
//   display: flex;
//   flex-direction: column;
//   /* width: 100%; */
// }
// .title {
//   padding: 1rem;
//   /* margin: 1rem; */
//   font-size: 34px;
// }

// .buttons-container {
//   display: flex;
//   flex-direction: row;
// }

// .button {
//   padding: 0.5rem;
//   margin: 1rem;
//   width: 35%;
//   border-radius: 1rem;
// }

// .update__bar {
//   /* justify-content: left; */
//   display: flex;
//   flex-direction: row;
//   margin: 1rem;
//   border-radius: 10px;
//   background-color: lightgrey;
//   width: 75%;
//   height: 2rem;
//   padding: 0.5rem 1rem;
// }

// .tile-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }
// .tile {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 0.5rem;
// }
// .tile__title {
//   padding: 0.5rem 0 0.25 0;
// }
// .tile__stats {
//   padding: 0.25rem 0;
//   font-size: 30px;
//   /* text-align: center; */
// }
// .tile__review {
//   padding: 0.25rem 0;
// }
