/** @format */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  /* font-family: $site-font; //requirement */
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 auto;
  padding: 0;
}
